:root {
    --primary: #2FD349;
    --secondary: #8CE7E7;
    --accent: #5DC1DD;
    --bcg: #F7FDF8;
    --text: #030D05;
    --prm-font: "Carter One";
}

@font-face {
    font-family: 'Erica One';
    src: url('assets/EricaOne-Regular.woff2') format('woff2'),
        url('assets/EricaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carter One';
    src: url('assets/CarterOne.woff2') format('woff2'),
        url('assets/CarterOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: var(--prm-font), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: var(--bcg);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bcg);
    border: 8px black solid;
    border-radius: 50px;
    position: relative;
    overflow: hidden
}